.fa-facebook-square {
    color: #3b5998;
}

.fa-linkedin-square {
    color: #1985bc;
}

.fa-twitter-square {
    color: #1da1f2;
}

.fa-envelope {
    color: #db4437
}

.fa-pinterest-square {
    color: #bd081c;
}
.fa-github-square{
    color: #010101;
}
.fa-instagram{
    color: #231F20;
}